LOG_LEVEL=INFO
LOG_DIR=logs
LOG_FILE=app.jsonl
LOG_RETENTION_DAYS=7

UCLOUD_US3_BUCKET=may-backend-dev
UCLOUD_US3_UPLOAD_SUFFIX=.cn-bj.ufileos.com
UCLOUD_US3_PUBLIC_KEY=TOKEN_xxx
UCLOUD_US3_PRIVATE_KEY=xxx
UCLOUD_US3_USE_HTTPS=true
UCLOUD_US3_PUT_URL_EXPIRES_SECONDS=900
